body {
    width: 95%;
    height: 95%;
    background-color: bisque;

    margin: 0;
    padding: 0;
}

:root{
    --cl-deepgreen : #114728;
    text-align: center;
    color: var(--cl-black);
}

.main {
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment {
    position: absolute;
    top: 0px;
    right: 20px;

    margin-right: 40px;

    background-color: white;
    width: 400px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    border: var(--cl-deepgreen) solid 5px;
    border-radius: 20px;
}

.comment-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.comment-head>img {
    width: 80px;
    height: 80px;
    margin: 0 10px 0 20px;
    object-fit: cover;
}

.comment-head>span {
    font-size: 30px;
    margin-right: auto;
}

.comment-box {
    border: var(--cl-deepgreen) solid 3px;
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    height: 100px;
    margin: 10px 0;
}

.comment-box>textarea {
    resize: none;
    /* 크기 조절 비활성화 */
    width: 90%;
    height: auto;
    border: none;
    font-size: 15px;
}

.comment-box>textarea:focus {
    outline: none;
}

.comment-box>textarea::-webkit-scrollbar {
    /*스크롤바 숨기기*/
    display: none;
}

.comment-box>i:hover {
    cursor: pointer;
}

.comments {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;


    overflow: auto;
}

.comments::-webkit-scrollbar {
    display: none;
}

.comment-one{
    border-bottom: 2px var(--cl-deepgreen) solid;
    box-shadow: 0px 5px 5px -5px var(--cl-deepgreen);
    width: 100%;
    padding: 10px;
    margin-bottom:10px;
}

.comment-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: 12px;
}

.comment-text {
    width: 100%;
    font-size: 15px;
    margin: 5px 0;
    text-align: left;
}

.comment-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.comment-button>button {
    background-color: white;
    border: lightgray solid 2px;
    border-radius: 15px;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    padding: 2px 4px;
}

.comment-button>button:first-child:hover {
    border: #114728 solid 2px;
}

.comment-button>button:last-child {
    margin-left: 5px;
}

.comment-button>button:last-child:hover {
    color: red;
    border: white solid 2px;
}
.comment-camp-name{
    font-weight: 800;
    font-size: 25px;
    text-align: left;
    margin-top: 15px;
    width: 350px;
    padding-left: 15px;
}

.comment-update{
    width: 330px;
    display: none;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
