<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/comment.css">
    <script type="text/javascript" src="../static/js/comment.js"></script>
    <title>댓글 작성</title>
    
</head>

<body>
    <div class="main">
        <div class="map">지도부분</div>

        <div class="comment">
            <div class="comment-head">
                <img src="../static/img/campwander_logo.png">
                <span>COMMENT</span>
            </div>
            <div class="comment-Box">
                <textarea rows="3" placeholder="댓글을 남겨주세요" autocomplete="off"></textarea>
                <i class="bi bi-send"></i>
            </div>
            <div class="comments">
                <div class="comment-one">
                    <div class="comment-info">
                        <span>작성자</span>
                        <span>작성시간</span>
                    </div>
                    <div class="comment-text">
                        댓글내용<br>
                        댓글내용<br>
                        댓글내용<br>
                        댓글내용<br>
                        댓글내용<br>
                        댓글내용
                    </div>
                    <div class="comment-button">
                        <button>수정</button>
                        <button>삭제</button>
                    </div>
                </div>
                <div class="comment-one">
                    <div class="comment-info">
                        <span>작성자</span>
                        <span>작성시간</span>
                    </div>
                    <div class="comment-text">
                        댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용<br>
                        댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용
                    </div>
                </div>
                
            </div>
        </div>

    </div>

</body>

</html>